/*
 * HelveticaNowText
 */
@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/HelveticaNowText-Regular.woff2') format('woff2'),
        url('/fonts/HelveticaNowText-Regular.woff') format('woff'),
        url('/fonts/HelveticaNowText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/HelveticaNowText-Medium.woff2') format('woff2'),
        url('/fonts/HelveticaNowText-Medium.woff') format('woff'),
        url('/fonts/HelveticaNowText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/HelveticaNowText-MediumItalic.woff2') format('woff2'),
        url('/fonts/HelveticaNowText-MediumItalic.woff') format('woff'),
        url('/fonts/HelveticaNowText-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/HelveticaNowText-Bold.woff2') format('woff2'),
        url('/fonts/HelveticaNowText-Bold.woff') format('woff'),
        url('/fonts/HelveticaNowText-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: bold;
    font-display: swap;
}

/*
 * WhyteInktrapBook
 */
@font-face {
    font-family: 'WhyteInktrapBook';
    src: url('/fonts/WhyteInktrap-Book.woff2') format('woff2'),
        url('/fonts/WhyteInktrap-Book.woff') format('woff'),
        url('/fonts/WhyteInktrap-Book.otf') format('truetype');
    font-weight: 400;
    font-style: bold;
    font-display: swap;
}

// /*
//  * WhyteInktrap
//  */
// @font-face {
//     font-family: 'WhyteInktrap';
//     src: url('/fonts/WhyteInktrap-Regular.woff2') format('woff2'),
//         url('/fonts/WhyteInktrap-Regular.woff') format('woff'),
//         url('/fonts/WhyteInktrap-Regular.ttf') format('truetype');
//     font-weight: 400;
//     font-style: bold;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'WhyteInktrap';
//     src: url('/fonts/WhyteInktrap-Medium.woff2') format('woff2'),
//         url('/fonts/WhyteInktrap-Medium.woff') format('woff'),
//         url('/fonts/WhyteInktrap-Medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: bold;
//     font-display: swap;
// }
