/*
 * Imported fonts:
 * - HelveticaNowText
 * - WhyteInktrapBook
 */
@mixin font($size, $weight: 400, $family: 'HelveticaNowText', $scale: false) {
    @if $scale {
        @include responsive-size($size, $size * 0.75, $size);
    } @else {
        font-size: $size * 1px;
    }
    font-family: $family, 'Helvetica', 'Arial', sans-serif;

    @if ($family == 'WhyteInktrapBook') {
        font-weight: 400;
    } @else {
        font-weight: $weight;
    }
}

/* #region Heading */
@mixin H1($weight: 400, $family: 'WhyteInktrapBook') {
    @include font(55, $weight, $family);
    line-height: 0.95em;
    letter-spacing: -0.03em;

    @include breakpoint('medium') {
        @include responsive-size(120, 120, false);
        line-height: 0.85em;
    }
}

@mixin H2($weight: 400, $family: 'WhyteInktrapBook') {
    @include font(45, $weight, $family);
    line-height: 0.9em;

    @if $family == 'HelveticaNowText' {
        letter-spacing: -0.03em;
    } @else {
        letter-spacing: -0.04em;
    }

    @include breakpoint('medium') {
        @include responsive-size(80, 80, false);
        line-height: 0.8em;
    }
}

@mixin H3($weight: 400, $family: 'WhyteInktrapBook') {
    @include font(40, $weight, $family);
    line-height: 0.9em;

    @if $family == 'HelveticaNowText' {
        letter-spacing: -0.03em;
    } @else {
        letter-spacing: -0.04em;
    }

    @include breakpoint('medium') {
        @include font(60, $weight, $family, true);
        line-height: 0.95em;
    }
}

@mixin H4($weight: 400, $family: 'WhyteInktrapBook') {
    @include font(28, $weight, $family);
    line-height: 0.9em;

    @if $family == 'HelveticaNowText' {
        letter-spacing: -0.03em;
    } @else {
        letter-spacing: -0.04em;
    }

    @include breakpoint('medium') {
        @include font(48, $weight, $family, true);
        line-height: 1.1em;
    }
}

@mixin H5($weight: 400, $family: 'WhyteInktrapBook') {
    @include font(25, $family);
    line-height: 1.09em;

    @if $family == 'HelveticaNowText' {
        letter-spacing: -0.03em;
    } @else {
        letter-spacing: -0.04em;
    }

    @include breakpoint('medium') {
        @include font(40, $family, true);
        line-height: 1.1em;
    }
}

@mixin H6($weight: 500, $family: 'WhyteInktrapBook') {
    @include font(20, $weight, $family);
    line-height: 1em;

    @if $family == 'HelveticaNowText' {
        letter-spacing: -0.03em;
    } @else {
        letter-spacing: -0.04em;
    }

    @include breakpoint('medium') {
        @include font(30, $weight, $family, true);
    }
}

@mixin H7($weight: 500, $family: 'WhyteInktrapBook') {
    @include font(17, $weight, $family);
    line-height: 1em;

    @if $family == 'HelveticaNowText' {
        letter-spacing: -0.02em;
    } @else {
        letter-spacing: -0.03em;
    }

    @include breakpoint('medium') {
        @include font(23, $weight, $family, true);
        line-height: 1.1em;
    }
}

@mixin H8($weight: 500, $family: 'WhyteInktrapBook') {
    @include font(11, $weight, $family);
    line-height: 1em;

    @if $family == 'HelveticaNowText' {
        letter-spacing: -0.02em;
    } @else {
        letter-spacing: -0.03em;
    }

    @include breakpoint('medium') {
        @include font(20, $weight, $family, true);
        line-height: 1.1em;
    }
}
/* #endregion */

/* #region Subtitle */
@mixin S1($weight: 500) {
    @include font(16, $weight);
    line-height: 1.15em;
    letter-spacing: -0.04em;

    @include breakpoint('medium') {
        @include font(22, $weight, 'HelveticaNowText', true);
        line-height: 1em;
    }
}

@mixin S2($weight: 500) {
    @include font(14, $weight);
    line-height: 1.2em;
    letter-spacing: -0.03em;

    @include breakpoint('medium') {
        @include font(20, $weight, 'HelveticaNowText', true);
        line-height: 1em;
    }
}

@mixin S3($weight: 500) {
    @include font(13, $weight);
    line-height: 1.1em;
    letter-spacing: -0.03em;

    @include breakpoint('medium') {
        @include font(18, $weight, 'HelveticaNowText', true);
        line-height: 1em;
    }
}

@mixin S4($weight: 500) {
    @include font(12, $weight);
    line-height: 1em;
    letter-spacing: -0.03em;

    @include breakpoint('medium') {
        @include font(15, $weight, 'HelveticaNowText', true);
    }
}
/* #endregion */

/* #region Button */
@mixin BTN1($weight: 400) {
    @include font(17, $weight);
    line-height: 1em;
    letter-spacing: -0.03em;

    @include breakpoint('medium') {
        @include font(18, $weight, 'HelveticaNowText', true);
    }
}

@mixin BTN2($weight: 400) {
    @include font(16, $weight);
    line-height: 1em;
    letter-spacing: -0.03em;
}

@mixin BTN3($weight: 400) {
    @include font(14, $weight);
    line-height: 1em;
    letter-spacing: -0.03em;
}
/* #endregion */

/* #region Body */
@mixin B1($weight: 400) {
    @include font(28, $weight);
    line-height: 1.2em;
    letter-spacing: -0.04em;

    @include breakpoint('medium') {
        @include font(40, $weight, 'HelveticaNowText', true);
        line-height: 1.3em;
    }
}

@mixin B2($weight: 400) {
    @include font(16, $weight);
    line-height: 1.2em;
    letter-spacing: -0.03em;

    @include breakpoint('medium') {
        @include font(25, $weight, 'HelveticaNowText', true);
    }
}

@mixin B3($weight: 400) {
    @include font(15, $weight);
    line-height: 1.2em;
    letter-spacing: -0.03em;

    @include breakpoint('medium') {
        @include font(18, $weight, 'HelveticaNowText', true);
    }
}

@mixin B4($weight: 400) {
    @include font(13, $weight);
    line-height: 1.2em;
    letter-spacing: -0.03em;

    @include breakpoint('medium') {
        @include font(13, $weight, 'HelveticaNowText', true);
    }
}
/* #endregion */

/* #region Caption */
@mixin C1($weight: 400) {
    @include font(13, $weight);
    line-height: 1em;
    letter-spacing: -0.03em;

    @include breakpoint('medium') {
        @include font(20, $weight, 'HelveticaNowText', true);
    }
}

@mixin C2($weight: 400) {
    @include font(11, $weight);
    line-height: 1em;
    letter-spacing: -0.03em;

    @include breakpoint('medium') {
        @include font(15, $weight, 'HelveticaNowText', true);
    }
}

@mixin C3($weight: 400) {
    @include font(9, $weight);
    line-height: 1em;
    letter-spacing: -0.03em;

    @include breakpoint('medium') {
        @include font(12, $weight, 'HelveticaNowText', true);
    }
}
/* #endregion */

/* #region Label */
@mixin L1($weight: 400) {
    @include font(12, $weight);
    line-height: 1em;
    text-transform: uppercase;

    @include breakpoint('medium') {
        @include font(12, $weight, 'HelveticaNowText', true);
    }
}

@mixin L2($weight: 400) {
    @include font(10, $weight);
    line-height: 1em;

    @include breakpoint('medium') {
        @include font(10, $weight, 'HelveticaNowText', true);
    }
}
/* #endregion */
