@function aspect-ratio($width: 16, $height: 9) {
    @return 1 / ($width / $height) * 100%;
}

@function get-vw($target) {
    $vw-context: (1500 * 0.01);
    @return ($target / $vw-context);
}

/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
/// @include responsive-size(5vw, 35px, 150px);
@mixin responsive-size($px, $min, $max: false) {
    $responsive: get-vw($px);
    $min-breakpoint: $min / $responsive * 100;

    @media (max-width: #{$min-breakpoint}px) {
        font-size: $min * 1px;
    }

    @if $max {
        $max-breakpoint: $max / $responsive * 100;

        @media (min-width: #{$max-breakpoint}px) {
            font-size: $max * 1px;
        }
    }

    font-size: $px * 1px;
    font-size: $responsive * 1vw;
}

@mixin overflowScroll {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

/*
Returns a vw value, can be used with anything.
*/
$mobCols: 25;
$defaultCols: 75;

@function mob-column($piece) {
    @return ($piece/$mobCols) * 100vw;
}

/*
Returns a vw value, can be used with anything.
*/
@function vw-column($piece) {
    @return ($piece/$defaultCols) * 100vw;
}

/*
Responsive hover
*/
@mixin hover() {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            @content;
        }
    }
}

/*
Responsive active
*/
@mixin active() {
    @media (pointer: fine) {
        &:active {
            @content;
        }
    }
}
