// Z-index Setup

$next-z-index: 1;

/// Z-index incrementer
/// @group settings
/// @requires {variable} next-z-index
/// @return {Number}

@function get-next-z-index() {
    $next-z-index: $next-z-index + 1 !global;
    @return $next-z-index;
}

$z-index-content: get-next-z-index();
$z-index-popup: get-next-z-index();
$z-index-mobile-menu: get-next-z-index();
$z-index-nav: get-next-z-index();
$z-index-menu: get-next-z-index();

$z-index-back: get-next-z-index();

$z-index-intro: get-next-z-index();
$z-index-dev-grid: get-next-z-index();

$z-index-dev-log: get-next-z-index();
$z-index-dev-log-hovered: get-next-z-index();

$z-index-bia-preloader: get-next-z-index();
