// -- Base colors ---

$black: #191919;
$white: #ffffff;
$white-off: #f5f5f5;

$grey: #999999;
$grey-light: #f0f0f0;
$grey-dark: #676767;

$navy: #23293c;
$grey-line: #cdcdcd;

// -- Brand Colors ---

$red: #e00b25;
