@import '_styles/import';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.title {
    font-size: 50px;
    margin: 1em;
}