@import '_styles/import';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}


.block {
    width: 100%;
}

.dark {
    color: $black;
}

.light {
    color: $white;
}

