.container {
    display: block;
    position: relative;

    width: 100%;
    height: 100%;

    &.ratio {
        height: 0;
    }
}

.imgEl {
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;

    object-fit: cover;
}
