@import '_styles/import';

.container {
    display: flex;
    align-items: center;
}

.link {
    @include BTN2;
    padding: 0.65em;
    color: $black;
}

.icon {
    width: 0.72em;
    fill: $red;
}

.active {
    margin: 0 0.65em;
}
