@import '_styles/import';

.container {
    @include S3(400);
    display: flex;
    align-items: center;
}

.icon {
    width: 0.85em;
    margin-right: 0.235em;

    @include breakpoint('medium') {
        width: 1.1em;
        margin-right: 0.75em;
    }
}
