@import '_styles/import';

.container {
    width: 100%;
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    display: flex;
    align-items: center;

    padding: mob-column(1) 0;

    @include breakpoint('medium') {
        padding: vw-column(1) 0;
    }
}

.option {
    @include BTN2;
    cursor: pointer;

    &.passive {
        opacity: 0.5;
        padding: mob-column(1);

        @include breakpoint('medium') {
            padding: vw-column(1) vw-column(0.5);
        }
    }
}
