@import '_styles/import';

.ais-InfiniteHits-list {
    display: flex;
    flex-wrap: wrap;
}

.ais-InfiniteHits-item {
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - #{mob-column(2)});
    margin: mob-column(1);
    @include breakpoint('medium') {
        margin: vw-column(1);
        width: calc(50% - #{vw-column(2)});
    }
}
.ais-RefinementList-item {
    @include C2();
    width: 100%;
    cursor: pointer;
    background: linear-gradient(360deg, #f4f4f4 0%, #fcfcfc 100%);
    box-shadow: 0.627064px 0.627064px 2.50826px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    margin: mob-column(1) 0;
    padding: mob-column(1) mob-column(1);

    @include breakpoint('medium') {
        padding: vw-column(1) vw-column(1);
        margin: vw-column(0.5) 0;
    }

    &--selected {
        background: #eeeeee;
        box-shadow: inset 0.627064px 0.627064px 2.50826px rgba(0, 0, 0, 0.28);
        border-radius: 4px;
    }
}

.ais-RefinementList-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.ais-SearchBox-form {
    display: flex;
    width: 100%;
}

.ais-SearchBox-input {
    width: 100%;
    padding: 1em;
    border: 1px solid $grey-line;
    border-radius: 5px;
    @include S3();
}

// filters
.ais-CurrentRefinements {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ais-CurrentRefinements-list {
    display: flex;
}

.ais-CurrentRefinements-label {
    @include S3();
    text-transform: capitalize;
}

.ais-CurrentRefinements-category {
    @include S4();
    background: $grey-light;
    border-radius: 5px;
    padding: mob-column(0.25) mob-column(0.5);
    margin: 0 mob-column(0.5);
    @include breakpoint('medium') {
        margin: 0 vw-column(0.25);
        padding: vw-column(0.25) vw-column(0.5);
    }
}

.ais-CurrentRefinements-delete {
    margin-left: mob-column(0.25);
    @include L1();
    @include breakpoint('medium') {
        margin-left: vw-column(0.5);
    }
}

.ais-ClearRefinements {
    width: 25%;
    display: none;
    @include breakpoint('medium') {
        display: flex;
    }
}

// temporal
.ais-InfiniteHits-loadMore,
.ais-ClearRefinements-button,
.ais-CurrentRefinements-category {
    @include BTN3;

    margin: mob-column(2) auto;
    display: inline-flex;

    cursor: pointer;

    position: relative;
    padding: 0.95em 1.4em;

    background: linear-gradient(175.01deg, #ffffff 17.89%, #f7f7f7 81.99%);
    border: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.17);

    border-radius: 500px;

    transition: transform 0.3s $easeOutExpo, box-shadow 0.3s $easeOutExpo;

    @include hover() {
        transform: translateY(-1px);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    }

    @include active() {
        transform: translateY(1px);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    }

    @include breakpoint('medium') {
        margin: vw-column(1) auto;
        padding: 0.75em 1.7em;
    }
}

::-webkit-search-cancel-button {
    display: none;
}

.ais-CurrentRefinements-category {
    margin-left: mob-column(0.5);
    @include breakpoint('medium') {
        margin-left: vw-column(0.25);
    }
}

.ais-ClearRefinements-button {
    margin-right: mob-column(0.5);
    @include breakpoint('medium') {
        margin-right: vw-column(0.25);
    }
}

.ais-SearchBox-reset,
.ais-SearchBox-submit,
.ais-CurrentRefinements-label,
.ais-RefinementList-checkbox {
    display: none;
}
