@import '_styles/import';

.bar {
    display: block;
    position: absolute;

    top: 0;
    left: mob-column(1);

    width: mob-column(23);
    height: 3px;

    background-color: $red;

    transition: top 0.5s $easeOutExpo, opacity 0.5s $easeOutExpo,
        transform 0.5s $easeOutExpo;

    @include breakpoint('medium') {
        height: 4px;
        width: vw-column(71);

        left: vw-column(2);
    }
}

.menu {
    position: fixed;
    z-index: $z-index-menu;
}

.container {
    position: fixed;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    color: $white;
    transition: color 0.5s $easeOutExpo;

    z-index: $z-index-mobile-menu;

    @include breakpoint('medium') {
        z-index: $z-index-menu;
        padding: vw-column(0.5) vw-column(1.5);
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;

        z-index: -1;

        width: 100%;
        height: 100%;

        background-color: $white;
        transform: scaleY(0);
        transform-origin: top;

        transition: transform 0.5s $easeOutExpo, opacity 0.5s $easeOutExpo;
    }

    &.dark {
        color: $black;
    }

    @include breakpoint('medium') {
        &.navOpen {
            color: $white;

            &:before {
                opacity: 0;
            }

            .bar {
                opacity: 0;
            }
        }

        &.menuHidden {
            .bar {
                transform: translateY(100%);
            }
        }

        &.withBackground {
            color: $black;

            &.navOpen {
                color: $white;
            }

            &:before {
                transform: scaleY(1);
            }

            .bar {
                top: calc(100% - 4px);
            }
        }
    }
}

/* #region Logo */
.logoLink {
    width: 80%;
    max-width: 150px;
    color: currentColor;

    position: absolute;

    top: 2vh;
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint('medium') {
        top: vw-column(1);
    }

    @include breakpoint('large') {
        max-width: 180px;
    }
}

.logo {
    width: 100%;
    fill: currentColor;
}
/* #endregion */

/* #region Desktop */
.menuLeft,
.menuRight {
    display: none;

    @include breakpoint('medium') {
        display: block;
    }
}

.navToggle,
.shopToggle {
    padding: vw-column(0.5);
    cursor: pointer;
}

.shopToggle {
    @include S3(400);

    &.navOpen {
        color: $black;
    }

    &.active {
        @include S3;
    }
}

.menuRight {
    @include breakpoint('medium') {
        display: flex;
    }
}

.searchToggle,
.cartToggle {
    padding: vw-column(0.5);
    cursor: pointer;
}

.searchIcon {
    width: 16px;
    stroke: currentColor;
}

.bagIcon {
    width: 15px;
    fill: currentColor;
}
/* #endregion */
